.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding: auto;
    flex-wrap: wrap;
    width: 80%;
    margin: 2em auto;
    padding: 2em;

    /* Card background */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}